<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    <link rel="stylesheet" th:href="@{/css/admin-style.css}">

    <title>Category List</title>
</head>

<body>

<header class="header">

    <section class="flex">

        <a th:href="@{/admin/dashboard}" class="logo">BrainWeb</a>

        <form th:action="@{/course/search}" method="get" class="search-form">
            <input type="text" name="term" placeholder="search courses...."
                   required maxlength="100">
            <button type="submit" class="fas fa-search"></button>
        </form>

        <div class="icons">

            <div id="menu-btn" class="fas fa-bars"></div>
            <div id="search-btn" class="fas fa-search"></div>
            <div id="user-btn" class="fas fa-user"></div>

        </div>

        <div class="profile">

            <img th:src="@{/images/pic-1.jpg}" alt="">
            <span>Admin</span>
            <a href="profile.html" class="btn">Update Profile</a>

            <a th:href="@{/logout}" class="delete-btn">logout</a>

            <div class="flex-btn">
                <a th:href="@{/login}" class="option-btn">login</a>
                <a th:href="@{/register}" class="option-btn">register</a>
            </div>


        </div>

    </section>

</header>

<div class="side-bar">

    <div class="close-side-bar">
        <i class="fas fa-times"></i>
    </div>
    <div class="logo">
        <img th:src="@{/images/logo.png}">
    </div>

    <nav class="navbar">
        <a th:href="@{/admin/dashboard}"><i class="fas fa-home"></i><span>home</span></a>
        <a th:href="@{/admin/update/category}"><i class="fas fa-bars"></i><span>courses</span></a>
    </nav>

</div>


<section class="playlist">

    <h1 class="heading">all playlist</h1>

    <div class="box-container">

        <div class="box" th:each="c:${categories}" th:object="${course}">
            <img th:src="@{'data:image/jpeg;base64,' + ${c.categoryImage}}" alt="" class="thumb">
            <h1 th:text="${c.categoryName}"></h1>
            <form action="" method="post" class="flex-btn">
                <a th:href="@{/admin/edit/category(id=${c.id})}" class="option-btn">update</a>
                <a th:href="@{/admin/delete/category(id=${c.id}) }" class="delete-btn">delete</a>
            </form>
            <a th:href="@{/admin/list(id=${c.id})}" class="btn">view playlist</a>
        </div>
    </div>
</section>



<footer class="footer">

    &copy;  <span>Brainweb</span>

</footer>

<script th:src="@{/js/js.js}"></script>

</body>
</html>