<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    <link rel="stylesheet" th:href="@{/css/css.css}">

    <title>login</title>
</head>

<body>

<section class="form-container">

    <form th:action="@{/email/save}" th:object="${save}" method="post">
        <h3>Email Change</h3>
        <input type="email" name="email" placeholder="enter new email" maxlength="50" required class="box">
        <input type="email" name="cemail" placeholder="confirm your email" maxlength="50" required class="box">
        <input type="hidden" name="id" th:value="${id}">
        <input type="submit" name="submit" value="submit" class="inline-btn">
    </form>

</section>

<footer class="footer" style="float: bottom; position: fixed; left: 0; bottom: 0;">

    &copy;  <span>Brainweb</span>

</footer>

<script th:src="@{/js/js.js}"></script>

</body>
</html>