<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6"

>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    <link rel="stylesheet" th:href="@{/css/css.css}">

    <title>Welcome</title>

</head>

<body>

<header class="header">

    <section class="flex">

        <a th:href="@{/}" class="logo">BrainWeb</a>

        <form th:action="@{/course/search}" method="get" class="search-form">
            <input type="text" name="term" placeholder="search courses...."
                   required maxlength="100">
            <button type="submit" class="fas fa-search"></button>
        </form>

        <div class="icons">

            <div id="menu-btn" class="fas fa-bars"></div>
            <div id="search-btn" class="fas fa-search"></div>
            <div id="user-btn" class="fas fa-user"></div>

        </div>

        <div class="profile">

            <div>
                <img th:src="@{/images/pic-1.jpg}" alt="">
            </div>

            <span sec:authorize="authenticated">
                <h3 sec:authentication="principal.userName"></h3>
            </span>

            <a sec:authorize="authenticated"
               th:href="@{/user/edit(id=${#authentication.principal.userId})}"
               class="btn">Edit Profile</a>

            <a sec:authorize="authenticated" th:href="@{/logout}" class="delete-btn" id="log">logout</a>

            <div class="flex-btn">
                <a th:href="@{/login}" class="option-btn">login</a>
                <a th:href="@{/register}" class="option-btn">register</a>
            </div>
        </div>

    </section>

</header>

<div class="side-bar">

    <div class="close-side-bar">
        <i class="fas fa-times"></i>
    </div>

    <div class="logo">
        <img th:src="@{/images/logo.png}">
    </div>


    <nav class="navbar">
        <a th:href="@{/}"><i class="fas fa-home"></i><span>home</span></a>
        <a th:href="@{/about}"><i class="fas fa-question"></i><span>about us</span></a>
        <a th:href="@{/}"><i class="fas fa-graduation-cap"></i><span>courses</span></a>
        <a th:href="@{/contact}" id="contact"><i class="fas fa-headset"></i><span>contact us</span></a>
    </nav>

</div>



<section class="courses">

    <h1 class="heading" style="text-align: center">Category</h1>

    <div class="box-container">

        <div class="box" th:each="c:${categories}">
            <img th:src="@{'data:image/jpeg;base64,' + ${c.categoryImage}}" class="thumb" alt="">
            <h3 class="title" th:text="${c.categoryName}"></h3>
            <a th:href="@{/course/list(id=${c.id})}" class="inline-btn">view playlist</a>
        </div>

    </div>

</section>

<footer class="footer" style="float: bottom; position: fixed; left: 0; bottom: 0;">

    &copy;  <span>Brainweb</span>

</footer>

<script th:src="@{/js/js.js}"></script>

</body>
</html>